[user]
	email = Prabhat Racherla
[credential]
	helper = "!f() { /app/.vscode-server/bin/ac4cbdf48759c7d8c3eb91ffe6bb04316e263c57/node /tmp/vscode-remote-containers-380fd697-4012-41b5-99a2-c21851bf2e54.js git-credential-helper $*; }; f"
